# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# app
APP_NAME=Clean-Architecture-Template
APP_HOST=localhost
APP_PORT=8080
NODE_ENV=development

# aws
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=<your_aws_access_key_id>
AWS_SECRET_ACCESS_KEY=<your_aws_secret_access_key>
AWS_SQS_QUEUE_URL=<your_sqs_queue_url>

# DB Configuration
MONGO_DB_URL="mongodb+srv://<db_user>:<db_password>@cluster0.5qtb8kk.mongodb.net/<db_name>"
MYSQL_DB_URL="mysql://<mysql_user>:<mysql_password>@localhost:3306/<db_name>"

# error
ERROR_DEBUG_MODE=false
ERROR_SENTRY_ENABLE=true
ERROR_SENTRY_DSN=<your_sentry_dsn>
ERROR_SENTRY_ENV=development
ERROR_SENTRY_LOG_LEVEL=error
ERROR_SENTRY_TRACES_SAMPLE_RATE=1.0

# http
HTTP_TIMEOUT=60000
HTTP_MAX_REDIRECTS=5
